h3{
    color: #000;
  font-family: sans-serif;
}
nav ul li a{
    color: #000;
    font-family: sans-serif;
    margin-left: 20px;
}
/* Custom CSS to center the dropdown menu */
.dropdown-menu-center {
    left: 50% !important;
    transform: translateX(-50%) !important;
}
