/* You can add global styles to this file, and also import other style files */

<<<<<<< HEAD
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
=======
.mat-error {
  color: #dc3545 !important;
  font-weight: normal;
  font-size: 0.9rem;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: #dc3545 !important;
}
>>>>>>> 5d3874768f28706555dee3b10b4fe0c8dce50fa5
